form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.field1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1em;
    width: auto;
}

#nombre{
    grid-column: 1;
    grid-row: 1;
}

#contra{
    grid-column: 2;
    grid-row: 1;
}

.checkpass{
    grid-column: 2;
    grid-row: 2;
}

.field2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1em;
    width: auto;
}

.persodata{
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.dni-etc{
    grid-row: 2;
}

.hobbies{
    grid-row: 3;
}

input[type="submit"]:hover {
    background-color: #45a049;
}